<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignUp(signUpForm)" *ngIf="!isLoading" #signUpForm ="ngForm">
      <mat-form-field>
          <input
          matInput
          type="email"
          name = "email"
          ngModel
          placeholder="E-mail"
          #emailInput="ngModel"
          required
          email>
          <mat-error *ngIf="emailInput.invalid">Please Enter a valid mail</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
          name = "password"
          type= "password"
          matInput
          ngModel
          #passwordInput = "ngModel"
          placeholder="Password"
          required
          >
        <mat-error *ngIf="passwordInput.invalid">Please Enter valid password</mat-error>
        </mat-form-field>
        <button mat-raised-button
                color="primary" type="submit"
                *ngIf="!isLoading">
               Signup
        </button>
  </form>


</mat-card>


